body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
  background-image: url('https://www.thoughtco.com/thmb/EXpjUAx2ZEgV64eKcsAsX7Ucl6w=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/GettyImages_482194715-56a1329e5f9b58b7d0bcf666.jpg');
}

a {
  color: #00B7FF;
}

.container{
    width: 400px;
    border: 2px;
    border-color:silver;
    border-style: solid;
    padding: 5px;
    color: white;
    font-weight: bold;
    float: left;
    box-shadow: inset 0px 0px 277px 3px #4c3f37;
}

.List {
  width:20%;
  float: left;
}

.align {
  width: 600px;
  border: 2px;
  border-color:silver;
  border-style: solid;
  padding: 5px;
  color: white;
  font-weight: bold;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  box-shadow: inset 0px 0px 277px 3px #4198a3;
}

textarea {
  resize: none;
}

h3 {
  color: blueviolet;
  font-size: 35px;
}
