body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a {
  color: #00B7FF;
}

.container{
    width: 60px;
    border: 2px;
    border-color:silver;
    border-style: solid;
    padding: 5px;
    background-color: rgb(104, 94, 100);
    color: white;
    font-weight: bold;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.List {
  width:20%;
  float: left;
}

textarea {
  resize: none;
}

h3 {
  color: blueviolet;
  font-size: 35px;
}
