body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: gray;
}

a {
  color: #00B7FF;
}

.container{
  background-color: yellow;
  margin-top: 30px;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 12px;
  color:blue;

}

.List {
  width:20%;
  float: left;
}

textarea {
  resize: none;
}

h3 {
  color: blueviolet;
}
